body
  font-family -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;

.navbar
  .site-name
    font-family: 'Arsenal', sans-serif
    font-size: 1.75rem !important

.home
  .hero
    #main-title
      font-family: 'Arsenal', sans-serif
    .description
      color: hsl(215, 50%, 23%) !important
      line-height: normal !important
